@use 'converter.scss';

@mixin esempio($color:red, $border-color: green, $font-size: converter.convert(20px)) {
    border: converter.convert(1px) solid $border-color;
    color: $color;
    font-size: $font-size;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: converter.convert(10px);
    align-items: center;
    border: converter.convert(1px) solid red;
    padding: converter.convert(10px);

    h1{
    color: green;
    text-decoration: underline;
    text-decoration-color: blue;
    }

    .big {
        display: flex;

        article{
            height: converter.convert(90px);
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                width: 80%;
            }
        }

        .red {
            @include esempio($font-size: 1rem);
        }

        .blue {
            @include esempio($color: blue, $font-size: 1rem);
        }

    }

    .small {
        width: 100%;
        article {
            display: flex;
            justify-content: center;
            @include esempio($color: green, $border-color: blue)
        }
    }

}